@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">ProjetoAppLivros</h1>
      <p class="lead my-3">Aplicação desenvolvida para fins acadêmicos, 
          com o objetivo de manipular uma lista de livros preferidos usando operações 
          para listar, inserir, atualizar e excluir registros.</p>
    </div>
</div>